:root {
  --none: 0px;
  --small: 4px;
  --medium: 8px;
  --large: 16px;
}

.Avada-PreviewWrapper__Container {
  display: flex;
  flex-direction: column;
}

/*Sticky ATC*/
.Avada-StickyATC-ProductInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
  position: fixed;
  align-items: center;

  .Avada-StickyATC-SuccessBanner {
    width: 100%;
    text-align: center;
    color: #136f45;
  }

  &.avada-position-top {
    top: var(--avada-header-height, 0px);
    transform: translateY(0%);
  }

  &.avada-position-bottom {
    bottom: 0;
    transform: translateY(100%);
    border-top: 1px solid #e3e3e3;
  }

  &.-desktop {
    .Avada-StickyATC-SuccessBanner {
      padding: 10px 0;
      font-size: 18px;
    }
  }

  &.-visible {
    transform: translateY(0%);
  }

  &__Left {
    .Avada-StickyATC-Heading {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .Avada-StickyATC-Title {
        font-size: 14px;
      }
    }
  }

  &.-mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    align-items: center;

    .Avada-StickyATC-ProductInfo__Top {
      margin: 0 0 5px;
      gap: 10px;
      min-width: 0;

      &.is-full {
        flex: 1 1 100%;
      }

      &.not-full {
        flex: 1 1 50%;
      }

      .Avada-ThumbnailImage__Wrapper {
        margin: 0;

        .Avada-ThumbnailImage__Image {
          width: 40px;
          height: 40px;
        }
      }
    }

    .Avada-StickyATC-Quantity {
      gap: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 5px;

      > input {
        width: 40px;
      }

      > span {
        font-size: 12px;
      }
    }

    .Avada-Offer__ButtonAddToCart {
      margin: 0;

      &.-disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .Avada-StickyATC-ProductInfo__Left,
  .Avada-StickyATC-ProductInfo__Right {
    display: flex;
    align-items: center;
    margin: 0 50px;
  }

  .Avada-StickyATC-Title {
    font-size: 16px;
  }

  .Avada-StickyATC-Price {
    font-weight: 600;
    margin-top: 7px;
  }

  .Avada-StickyATC-DiscountPrice {
    margin-right: 10px;
  }

  .Avada-StickyATC-ActualPrice {
    color: #d91c08;
    text-decoration: line-through;
  }

  .Avada-Offer__CountQuantity {
    display: flex;
    align-items: center;

    gap: 10px;
  }

  .Avada-ThumbnailImage__Wrapper {
    margin-right: 15px;
  }
}

/*Thumbnail Image*/
.Avada-ThumbnailImage__Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .Avada-ThumbnailImage__Image {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }
}

.Avada-Offer {
  display: flex;
  gap: 15px;

  &__ButtonAddToCart {
    padding: 0 10px;
    min-width: 120px;
    background: #000;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    height: 45px;
    border: unset;
    font-family: inherit;
    font-weight: 600;
    border-radius: var(--border-radius-atc);

    .Avada-StickyATC-ProductInfo & {
      height: 33px;
      border-radius: var(--border-radius-atc);
    }

    .spinner {
      width: 20px;
      height: 20px;
      display: inline-block;
      border: 3px solid rgba(255, 14, 14, 0);
      border-top-color: #ff0000;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
      display: none;
    }

    &.loading .btn-text {
      display: none;
    }

    &.loading .spinner {
      display: block;
    }
  }
}

/*Add To Cart Button*/

/* Variant & Quantity */

.Avada-Offer__VariantPopupTrigger {
  background: #fff;
  min-width: 135px;
  max-width: 155px;
  height: 30px;
  border: 1px solid #8a8a8a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.Avada-Quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  &__QuantityInput {
    display: flex;
    align-items: center;
    > input {
      border: 1px solid #8a8a8a;
      width: 50px;
      text-align: center;
      height: 30px;
      padding: unset;
    }
  }
}

.Avada-StickyATC-ProductInfo {
  .Avada-VariantSelection__Container {
    position: absolute;
    width: 220px;
    padding: 12px;
    z-index: 20;
    box-shadow: 0 4px 15px #0000001a;

    .Avada-VariantPopup--Close {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }
}

.Avada-Selection__Section {
  .Avada-VariantSelection__Container {
    .Avada-Variant__Container {
      position: relative;
      z-index: 1;
    }
    &.block {
      display: none;
    }
  }
}

.Avada-Variant__Container {
  width: 100%;
  max-height: 333px;
  margin-top: 4px;
  overflow-y: auto;

  .Avada-OptionGroup {
    margin-bottom: 12px;
  }

  .Avada-VariantLabel {
    color: #8a8a8a;
    font-weight: 400;
    margin-bottom: 4px;
  }

  .Avada-VariantOptionValues {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: flex-start;
    align-content: flex-start;
  }

  .Avada-VariantOptionValue {
    cursor: pointer;
    color: #222;
    background: #fff;
    display: flex;
    height: 32px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    border: 1.5px solid #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.-selected {
      background: #000;
      color: #fff;
    }
  }
}

.Avada-ConfirmButton {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  background: #000;
  color: #fff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .Avada-StickyATC-ProductInfo {
    padding: 10px;

    .Avada-StickyATC-ProductInfo__Left {
      margin: 0 10px;
    }

    .Avada-StickyATC-ProductInfo__Right {
      margin: 0 10px;
    }

    &__Left {
      .Avada-ThumbnailImage__Wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .Avada-ThumbnailImage__Image {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__Right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 20px;
      width: 100%;
      gap: 20px;
    }

    .Avada-Offer {
      gap: 10px;
      &__VariantSection {
        margin: 0;
      }

      &__CountQuantity {
        margin: 0;
      }
    }
  }

  .Avada-Offer__VariantPopupTrigger {
    height: 25px;
  }

  .Avada-Quantity__QuantityInput {
    > input {
      height: 25px;
    }
  }
}

@media (max-width: 480px) {
  .Avada-StickyATC-ProductInfo {
    padding: 10px;

    &.Avada-StickyATC-ProductInfo__Left {
      margin: 0 10px;
    }

    &.Avada-StickyATC-ProductInfo__Right {
      margin: 0 10px;
    }

    .Avada-Offer {
      gap: 10px;
      &__VariantSection {
        margin: 0;
      }

      &__CountQuantity {
        margin: 0;
      }
    }
  }

  .Avada-Label {
    display: none;
  }
}
