.app {
  border: 1px solid #ccc;
  max-width: fit-content;
  min-width: 300px;
  padding: 20px;
  border-radius: 10px;
  min-height: 300px;
}

.card {
  display: flex-column;
}

/* .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 60px;
} */

.msg {
  text-align: center;
  font-size: 16px;
}
