.todo {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.btn-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.completed {
  padding: 8px;
  font-size: 14px;
  background-color: #03a9f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleted {
  padding: 8px;
  font-size: 14px;
  background-color: #f40303;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
