.Avada-Chose-Theme {
  border: 2px solid #ddd;
  width: 100%;
  height: 116px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .Avada-Chose-Theme_Button {
    width: 100%;
    min-height: 80px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.Avada-Chose-ThemeSelected {
  border: 2px solid #002e6a;
}
