.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

form {
  margin-bottom: 20px;
  display: flex;
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}
