<h1 class="text-2xl font-bold mb-4 text-center">Chi tiết sản phẩm</h1>
<div class="flex justify-center items-center border border-gray-200 rounded-xl p-2">
      <div class="flex gap-10">
        <div class="rounded-xl overflow-hidden w-[500px] h-[500px]">
          <img class="" src=<%= product.image %> alt=""/>
        </div>
          <div class="flex flex-col gap-2">
            <h3 class="text-center text-lg font-bold"><%= product.name %></h3>
          <p class="text-start"><%= product.price %> $</p>
          </div>
      </div>
    </div>