:root {
  --none: 0px;
  --small: 4px;
  --medium: 8px;
  --large: 16px;
}

.Avada-PreviewWrapper__Container {
  display: flex;
  flex-direction: column;
}

.Avada_PreviewMobile__Wrapper {
  font-family: Poppins, sans-serif;
  width: 100%;
  max-width: 312px;
  height: 568px;
  background-color: #eaeaea;
  border-radius: 30px;
  border: 3px solid #e0e0e0;
  position: relative;
  margin: 15px auto;
  overflow: hidden;

  .Avada_PreviewMobile__Inline {
    position: relative;
    height: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

/*Sticky ATC*/
.Avada-StickyATC-ProductInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 9999;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;

  .Avada-StickyATC-SuccessBanner {
    width: 100%;
    text-align: center;
    color: #136f45;
  }

  &.avada-position-top {
    top: 0;
    border-bottom: 1px solid #e3e3e3;
  }

  &.avada-position-bottom {
    bottom: 0;
    border-top: 1px solid #e3e3e3;
  }
  &.-desktop {
    .Avada-StickyATC-SuccessBanner {
      padding: 10px 0;
      font-size: 18px;
    }
  }

  &.-preview {
    position: absolute !important;
    left: 0;
    right: 0;
  }

  &.-visible {
    transform: translateY(0);
  }

  &.-mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    align-items: center;

    .Avada-StickyATC-ProductInfo__Top {
      margin: 0 0 5px;
      gap: 10px;
      min-width: 0;

      &.is-full {
        flex: 1 1 100%;
      }

      &.not-full {
        flex: 1 1 50%;
      }

      .Avada-ThumbnailImage__Wrapper {
        margin: 0;

        .Avada-ThumbnailImage__Image {
          width: 40px;
          height: 40px;
        }
      }

      .Avada-StickyATC-Heading {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .Avada-StickyATC-Title {
          font-size: 14px;
        }
      }
    }

    .Avada-StickyATC-Quantity {
      flex: 1 1 35%;
      gap: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 5px;

      > input {
        width: 40px;
      }

      > span {
        font-size: 12px;
      }
    }

    .Avada-Offer__ButtonAddToCart {
      flex: 1 1 40%;
      margin: 0;
    }
  }

  .Avada-StickyATC-ProductInfo__Left,
  .Avada-StickyATC-ProductInfo__Right,
  .Avada-StickyATC-ProductInfo__Top {
    display: flex;
    align-items: center;
    margin: 0 50px;
  }

  .Avada-StickyATC-Title {
    font-size: 16px;
  }

  .Avada-StickyATC-Price {
    font-weight: 600;
    margin-top: 7px;
  }

  .Avada-StickyATC-DiscountPrice {
    margin-right: 10px;
  }

  .Avada-StickyATC-ActualPrice {
    color: #d91c08;
    text-decoration: line-through;
  }

  .Avada-Offer__VariantSection {
    margin-right: 15px;
    display: flex;
  }

  .Avada-Offer__CountQuantity {
    display: flex;
    align-items: center;
    margin-left: 20px;

    .Avada-Label {
      margin-right: 10px;
    }
  }

  .Avada-ThumbnailImage__Wrapper {
    margin-right: 15px;
  }
}

/*Thumbnail Image*/
.Avada-ThumbnailImage__Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .Avada-ThumbnailImage__Image {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }
}

/*Add To Cart Button*/
.Avada-Offer__ButtonAddToCart {
  padding: 0 10px;
  min-width: 120px;
  background: #000;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  height: 45px;
  border: unset;
  font-family: inherit;
  font-weight: 600;
  border-radius: var(--border-radius-atc);

  .Avada-StickyATC-ProductInfo & {
    height: 33px;
    border-radius: var(--border-radius-atc);
  }
}

/*Desktop*/
.Avada-PreviewWrapper {
  .Avada-PreviewWrapper_Container--Desktop {
    width: 100%;
    height: 700px;
    position: relative;
  }
}

/* Variant & Quantity */

.Avada-Offer__VariantPopupTrigger {
  background: #fff;
  min-width: 135px;
  max-width: 155px;
  height: 30px;
  border: 1px solid #8a8a8a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.Avada-Quantity {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.Avada-Quantity__QuantityInput {
  display: flex;
  align-items: center;
  > input {
    border: 1px solid #8a8a8a;
    width: 50px;
    text-align: center;
    height: 30px;
    padding: unset;
  }
}

.Avada-StickyATC-ProductInfo {
  .Avada-VariantSelection__Container {
    position: absolute;
    width: 220px;
    padding: 12px;
    z-index: 20;
    box-shadow: 0 4px 15px #0000001a;

    .Avada-VariantPopup--Close {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }
}

.Avada-Selection__Section {
  .Avada-VariantSelection__Container {
    .Avada-Variant__Container {
      position: relative;
      z-index: 1;
    }
  }
}

.Avada-Variant__Container {
  width: 100%;
  max-height: 333px;
  margin-top: 4px;
  overflow-y: auto;

  .Avada-OptionGroup {
    margin-bottom: 12px;
  }

  .Avada-VariantLabel {
    color: #8a8a8a;
    font-weight: 400;
    margin-bottom: 4px;
  }

  .Avada-VariantOptionValues {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: flex-start;
    align-content: flex-start;
  }

  .Avada-VariantOptionValue {
    cursor: pointer;
    color: #222;
    background: #fff;
    display: flex;
    height: 32px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    border: 1.5px solid #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.-selected {
      background: #000;
      color: #fff;
    }
  }
}

.Avada-ConfirmButton {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  background: #000;
  color: #fff;
}
