.Avada-ButtonBorder-Container {
  width: 24%;
  min-width: 140px;
}

.Avada-ButtonBorder {
  width: 100%;
  height: 100%;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.3s;

  background-color: #fff;
  color: #000;
  border: 2px solid #e3e3e3;
  border-radius: 8px;

  &--selected {
    background-color: #f0f2ff;
    border-color: #005bd3;
  }

  &__Input {
    width: 65%;
    min-width: 90px;
    padding: 8px 12px;

    background-color: #303030;
    color: #fff;

    white-space: nowrap;

    &--small {
      border-radius: 4px;
    }

    &--medium {
      border-radius: 8px;
    }

    &--large {
      border-radius: 16px;
    }
  }
}
